* {
	margin: 0;
	padding: 0;
}

body {
	background: #C9C9C9;
	font-family: sans-serif;
	color: #212121;
	margin: 0 auto;
	width: 600px;
}

header {
	padding: 40px 0;
	text-align: center;
	text-shadow: 1px 1px 0 white;
	font-family: serif;
	background: #bbb;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	border-bottom: 1px solid #ccc;
}

h1 a {
	color: inherit;
}

h1 a:hover {
	color: inherit;
}

section {
	background: #bbb;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
}

article {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #aaa;
	padding: 10px 20px;
}
article:hover {
	background: #a8a8a8;
}

h2 {
	margin: 0 0 10px 0;
}

a {
	color: #a53100;
	-moz-text-decoration-style: dashed;
}

.dl_readonly {
	background: url('imgs/read.png') no-repeat left center;
	padding: 2px 0 2px 20px;
	margin: 0 10px 0 0;
}

.dl_editable {
	background: url('imgs/edit.png') no-repeat left center;
	padding: 2px 0 2px 20px;
	margin: 0 10px 0 0;
}

.upload {
	background: url('imgs/upload.png') no-repeat left center;
	padding: 2px 0 2px 20px;
	margin: 0 10px 0 0;
}

.database {
	background: url('imgs/database.png') no-repeat left center;
	padding: 2px 0 2px 20px;
	margin: 0 10px 0 0;
}

.database_export {
	background: url('imgs/database_export.png') no-repeat left center;
	padding: 2px 0 2px 20px;
	margin: 0 10px 0 0;
}

a:hover {
	color: #ef6428;
}

footer {
	padding: 10px 0;
	text-align: center;
	background: #bbb;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	border-top: 1px solid #aaa;
	font-weight: lighter;
}

/* Files Plugin */

.legend {
	font-size: small;
	font-style: italic;
	margin: 0 0 10px 0;
}

.uppercase {
	text-transform: uppercase;
}

.filename {
	color: black;
	font-weight: bold;
}

.error {
	margin: 0 0 0 10px;
	color: red;
	font-size: small;
	font-weight: bold;
}


.ok {
	margin: 0 0 0 10px;
	color: green;
	font-size: small;
	font-weight: bold;
}

/* Problem Report Plugin */

.noborder, table {
	border: 0;
}

td {
	border: 1px solid #888;
	padding: 4px;
	border-radius: 3px;
	vertical-align: top;
}

.title {
	margin: -4px -4px 4px -4px;
	padding: 2px;
	font-weight: bold;
	font-size: small;
	background: #999;
}

#nav_buttons {
	float: right;
}

#edit_ok textarea, #edit_ok input {
	width: 100%;
}

.mono {
	font-family: monospace;
	font-size: 80%;
	font-weight: normal;
}
